{% extends "layout.html.twig" %}

{% block content %}
    Gerar lista de países
    {{ test }}
    <a href="/html">
        <button type="buttons">
            HTML
        </button>
    </a>
    <a href="/csv">
        <button type="buttons">
            CSV
        </button>
    </a>
{% endblock %}
