{% extends "layout.html.twig" %}

{% block content %}
    Gerar lista de países

    <button type="buttons">
        HTML
    </button>
    <button type="buttons">
        CSV
    </button>
{% endblock %}
